canvas {
    border: solid 5px gray;
  
    cursor: url(icons8-ball-point-pen-26.png), auto;
    background: white;
}

.tools {
    
    width: 80px;
    height: 300px;
    float:left;
}
input {
    font: 16px sans-serif;
}

button{
    display: block;
    background-color: yellow;
    border-radius: 999px;
}

.row{
    background: rgb(196, 66, 196);
}

p{
    font-family: 'Jua', sans-serif;
    font-size: 40px;
    background: url('capella.jpg');
    color: red;
}
label{
    font-family: 'Jua', sans-serif;
}